.osd-container {
  padding: 16px;
}

.osd-popup {
  background: #{$theme_bg_color_transparent};
}

.osd-popup .osd-icon {
  font-size: 100px;
  margin-bottom: 16px;
}

.osd-popup .osd-bar progress {
  background: #{$theme_accent};
}

.osd-popup .osd-bar.muted progress {
  /* background: @insensitive_fg_color; */
  background: red;
}

.volume-icon {
  margin-left: 0.33em;
}
