@use 'variables';

.bar {
  /* background: variables.$theme_bg_color_transparent; */
}

.bar-container {
  margin: 8px;
}

.bar-module {
  background: variables.$theme_bg_color_transparent;
  border-radius: 9999px;
}

.bar-module:not(:last-child) {
  margin-right: 8px;
}

.workspaces {
  padding: 8px;

  button {
    padding: 0;
    font-size: 0;
    background: none;
    min-height: 16px;
    min-width: 16px;

    &:not(:last-child) {
      margin-right: 8px;
    }

    label {
      font-size: 0;
      background: rgba(255, 255, 255, 0.2);
      min-width: 0px;
      border-radius: 99999px;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }

    &:hover label {
      background: variables.$theme_accent;
    }

    &.focused label {
      background: variables.$theme_accent;
    }

    &.special label {
      background: variables.$theme_secondary;
    }

    &.active label {
      min-width: 32px;
    }
  }
}


.client-title {
  margin-left: 1em;
}

.media {
  margin-right: 16px;
}

.media.not-playing {
  opacity: 0.6;
}

.media.not-playing button {
  background: transparent;
}

.notification image {
  color: yellow;
  margin-left: 1em;
}

.battery progressbar {
  margin: 0 6px;
}

.clock {
  min-width: 140px;
}

.clock-label {
  margin-left: 8px;
}
