.bar {
  background: @theme_bg_color;
}

.bar-container {
  padding: 4px;
}

.workspaces button {
  padding: 0;
  margin-right: 8px;
  background: none;
}

.workspaces button label {
  font-size: 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px;
  min-width: 0px;
  border-radius: 99999px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.workspaces button:hover label {
  background: @insensitive_fg_color;
}

.workspaces button.focused label {
  background: #bd93f9;
}

.workspaces button.active label {
  min-width: 16px;
}

.client-title {
  margin-left: 1em;
}

.media {
  margin-right: 16px;
}

.media.not-playing {
  opacity: 0.6;
}

.media.not-playing button {
  background: transparent;
}

.notification image {
  color: yellow;
  margin-left: 1em;
}

.battery progressbar {
  margin: 0 6px;
}

.clock {
  min-width: 140px;
}

.clock-label {
  margin: 0 6px;
}
