.volume-container {
  padding: 16px;
}

.volume-popup {
  background-color: @theme_bg_color;
}

.volume-popup .volume-label {
  font-size: 100px;
  margin-bottom: 16px;
}

.volume-popup .volume-bar.muted progress {
  background: @insensitive_fg_color;
}
