.volume-icon {
  margin-left: 0.33em;
}

.volume-container {
  padding: 16px;
}

.volume-popup {
  background-color: @theme_bg_color_transparent;
}

.volume-popup .volume-icon {
  font-size: 100px;
  margin-bottom: 16px;
}

.volume-popup .volume-bar progress {
  background: @theme_accent;
}

.volume-popup .volume-bar.muted progress {
  background: @insensitive_fg_color;
}
