.volume-container {
  padding: 15px;
}

.volume-popup {
  background-color: @theme_bg_color;
}

.volume-popup .label {
  font-size: 100px;
}

.volume-popup progress {
}

.volume-trigger {
  /* opacity: 0; */

}
