[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/rofi/themes/rofi-themes"]
	path = .config/rofi/themes/rofi-themes
	url = https://github.com/sheepla/rofi-themes.git
[submodule ".config/awesome/awesome-buttons"]
	path = .config/awesome/awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons
[submodule ".config/rofi.old/themes/rofi-themes"]
	path = .config/rofi.old/themes/rofi-themes
	url = https://github.com/sheepla/rofi-themes.git
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = git@github.com:makmonty/awesome-wm-widgets.git
