/*Dracula*/
@define-color grey0	#282a36;
@define-color grey1 #44475a;
@define-color grey2 #64677a;
@define-color white #f8f8f2;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

@define-color theme_fg @white;
@define-color theme_bg @grey0;
@define-color theme_bg_muted @grey1;
@define-color theme_accent @purple;
@define-color theme_secondary @pink;
@define-color theme_danger @red;
@define-color theme_success @green;
@define-color theme_bg_color_transparent rgba(40, 42, 54, 0.7);
@define-color theme_fg_muted @grey2;
@define-color theme_fg_very_muted @grey1;
